
<ion-content [fullscreen]="true" no-scroll>

  <app-panel name="Login" index=1 ></app-panel>
  <br><br>
  <div class="w_80">
    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input type="text"  name="title"></ion-input>
      </ion-item>
        <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"  name="password"></ion-input>
      </ion-item>
        <br>
      <div class="mp_forget">
        Mot de passe oublié ?
      </div>
      <button ion-button class="button p_bottom" type="submit" block>Se connecter</button>
    </form>
  </div>
</ion-content>
