.w_80{
  width: 80%;
  margin-left: 10%;
}

.button{

  padding: 20px;
  background-color:#07AEEF;
  color: white;
  font-size: 25px;
  width: 80%;
  margin-left: 10%;
  border-radius: 30px;
}

.p_bottom {
  position: fixed;
  left: 0;
  bottom: 20px;
  right: 0;
}
.mp_forget{
  color:#07AEEF;
}
