@mixin agrandissment {
    height: 45%;
    .img{
      left:31%;
      width: 110px;
      height: 120px;
    }
    .bottom-0{
      font-size: 18px;
      top:87.8%;
    }

}
@mixin retrecissment {
  height: 25%;
  .img{
    left:38%;
    width: 60px;
    height: 70px;
  }
  .bottom-0{
    font-size: 14px;
    top:82.8%;
  }

}

@mixin dynamic ($type) {

  @if $type == 'aga' {
  height: 25%;
  .img{
    left:38%;
    width: 60px;
    height: 70px;
  }
  .bottom-0{
    font-size: 14px;
    top:82.8%;
  }
  }

}

// $dynamic-height: var(--dynamic-height);
// :root{
//   --dynamic-height: 45%;
// }
$dynamic-height: var(--dynamic-height);
$font-color: var(--font-color);
:root{
  --font-color: blue;
  --test : 'petit';
}
$test : 'petit';



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.card{
  position: relative;
  text-align: center;
  background-color: white;
  margin: 0px;
  border-radius: 0px 0px 30px 30px;
//@error "Property #{var(--test)} must be either top or bottom.";

    @include agrandissment;

  // @else {
  //   @include retrecissment;
  // }
  // height: $dynamic-height;


  .img{
    // width: 60px;
    // height: 70px;
    text-align: center;

    position: absolute;
   // left: 38%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom-0{
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    color:black;
   // font-size: 14px;
    // border-bottom: 3px solid yellow;
    // background-color: yellowgreen;

  }
  hr{
    background-color:#07AEEF;
    height: 4px;
    width: 150px;
    border-radius: 2px;
     // border: 2px solid green;
  }
}
