<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Retrait</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-panel name="Retrait" home="true"  index=0 icone="return-up-back-outline"></app-panel>

  <br>
  <div class="w_80">
    <form>
      <ion-item>
        <ion-label position="floating">Code</ion-label>
        <ion-input type="text"  name="fistname" value="234-219-203"></ion-input>
      </ion-item>
    </form>
  </div>
  <br>
  <super-tabs>
    <super-tabs-toolbar class="tab-header" slot="top">
      <super-tab-button>
        <ion-label>Bénéficiaire</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Emetteur</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <br>
          <div class="w_80">
            <form >
              <ion-item>
                <ion-label position="floating">N° CNI</ion-label>
                <ion-input type="text"  name="fistname" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">NOM & PRÉNOM</ion-label>
                <ion-input  name="telephone" value="Seydina BASSE" disabled></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">MONTANT À RECEVOIR</ion-label>
                <ion-input  name="telephone" value="350 000" disabled></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Téléphone</ion-label>
                <ion-input  name="fistname" value="77 008 08 08" disabled></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">DATE D'ENVOI</ion-label>
                <ion-input  name="nom"  value="2020-02-23" disabled></ion-input>
              </ion-item>
              <br>
              <br>
              <button ion-button class="button p_bottom"  block>Retiter</button>
            </form>
          </div>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <br>
          <div class="w_80">
            <form >
              <ion-item>
                <ion-label position="floating">N° CNI</ion-label>
                <ion-input type="text"  name="fistname" value="1 291 1998 23 221" disabled></ion-input>
              </ion-item>
            <ion-item>
              <ion-label position="floating">NOM PRÉNOM</ion-label>
              <ion-input type="text"  name="nom" value="DIALLO Saliou" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">MONTANT ENVOYÉ</ion-label>
              <ion-input type="text"  name="telephone" value="350 000" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">TÉLÉPHONE</ion-label>
              <ion-input type="text"  name="telephone" value="77 008 08 08" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">DATE D'ENVOI</ion-label>
              <ion-input type="text"  name="telephone" value="2020-02-23" disabled></ion-input>
            </ion-item>

            <br>
            <br>
              <button ion-button class="button p_bottom"  block>Retiter</button>
            </form>
          </div>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
