.w_80{
  width: 70%;
  margin-left: 15%;
}
.frais{
  border: 2px solid red;
  border-radius: 20px;
  .label_frais{
    border-radius: 20px;
    padding: 2px;
    background-color: red;
    height: 100%;
  }
}
