<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Commission</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-panel name="Commission" index=0 ></app-panel>
  <br>
    <ion-list class="w_80">
      <ion-item>
        <!--  <ion-icon  class="primary"  name="return-up-forward-outline" start></ion-icon>
                &nbsp;&nbsp;
                <ion-label>
                  Dépot
                </ion-label>
              <ion-icon class="primary" name="chevron-forward-outline" item-end></ion-icon>
         -->
         <ion-grid>
          <!-- <ion-row>
            <ion-col>
              1 of 2
            </ion-col>
            <ion-col>
              2 of 2
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col>
              <small><b>Date</b></small>
            </ion-col>
            <ion-col>
              <small><b>Type</b></small>
            </ion-col>
            <ion-col>
              <small><b>Montant</b></small>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let trans of viewsTransaction">
            <ion-col>
              <small *ngIf="trans['type']==='depot'">{{ trans['dateAt'] | date :'MM/dd/yy'}}</small>
              <small  *ngIf="trans['type']==='retrait'">{{ trans['retraitAt'] | date :'MM/dd/yy'}}</small>
            </ion-col>
            <ion-col>
              <small>{{ trans['type'] }}</small>
            </ion-col>
            <ion-col>
              <small *ngIf="trans['type']==='depot'">{{ trans['part_depot']}}</small>
              <small *ngIf="trans['type']==='retrait'">{{ trans['part_retrait']}}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>
